body {
  font: 100% Lucida Sans, Verdana;
  margin: 0px;
  line-height: 26px;
  background-image: url(../img/UNPER\ 2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container {
  min-width: 1000px;
}

#main {
  padding: 10px;
  margin: 100px 210px 20px 20px;
  background-color: rgba(8, 8, 8, 0.8);
  color: #ffffff;
}

#sidebar {
  background-color: #32a5e78e;
  color: #ffffff;
  padding: 10px;
  width: 180px;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  margin-top: 100px;
  height: 100%;
}

.news img {
  height: auto;
  width: 170px;
  align-items: center;
}
#bottom {
  border: transparent;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  font-size: 100%;
}

table {
  border: 1px;
}

th,
td {
  padding-left: 50px;
  padding-right: 50px;
}
#vimilist {
  padding-left: 10px;
  padding-right: 10px;
}

.fakultas li > a {
  color: #ffffff;
}

iframe {
  border: 1px;
}
